.javascript {
    display: none;
}
.operators {
    display: none;
}
.var-naming{
    display: none  ;
}
.variables {
    display: none;
}
.functions {
    display: none;
}
.methods {
    display: none;
}
.arguments {
    display: none;
}
.parameters {
    display: none;
}
.return {
    display: none;
}
.chaining-methods {
    display: none;
}
.strings {
    display: none;
}
.Boolean {
    display: none;
}
.undefined {
    display: none;
}
.NaN {
    display: none;
}
.null {
    display: none;
}
.alert {
    display: none;
}
